* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: Arial, sans-serif;
}
.header {
  background-color: #131A22;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  /* justify-content: center; */
}
/* Amazon logo */
.amazon_logo {
  height: 2.5em;
  width: 6em;
}
.logo-box {
  align-items:center;
  padding: .5em .3em .1em .3em;
}
.logo-box:hover {
  border: 1px solid white;

}

/* Second nav bar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #22303E;
  height: 39px;
}
.ham-div {
  color: white;
}

.hamburger-menu {
  font-size: 1.3em;
}
/* Delivery styles */
.deliver-box {
  display: flex;
  padding: .5em;

}
.deliver-box:hover {
  border: 1px solid white;
  cursor: pointer;
}
.location-marker {
  color: white;
  font-size: 1.2em;
}
.deliver-text {
  color: #CCCCCC;
  font-size: 13px;
}
.address-text {
  color: #FFFFFF;
  font-size: 15px;
}
.deliver-text-box {
  display: flex;
  flex-direction: column;
}

/* Search styles */
.search-box > input {
  width: 100%;
  flex: 1;
  height: 38px;
  border: none;
  background-color: #FFFFFF;
}
.search-box {
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
  padding: 7px 10px 7px 10px;
  flex: 1; 
}
.search-icon-div {
  display: flex;
  align-items: center;
  background-color: #F3A846;
  height: 38px;
  width: 40px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
} 
.search-icon {
  font-size: 21px;
  cursor: pointer;
} 
.all {
  display: flex;
  align-items: center;
  background-color: #DADADA;
  height: 38px;
  width: 44px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  cursor: pointer;
}
.drop-down-arrow {
  font-size: 30px;
} 
.second-nav-text {
  color: white;
  cursor: pointer;
}

/* Sign In, Orders, and cart styles */
.login-box {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: .5em;
}
.login-box:hover {
  border: 1px solid white;
}
.order-box {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: .5em;

}
.order-box:hover {
  border: 1px solid white;

}
.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3px; */
  padding: 0 .3em .3em .3em;
  margin: .2em .3em .3em .3em;

}
.cart-box > span {
  color: rgb(240, 136, 5);
  position: relative;
  top: 8px;
}
.cart-box:hover {
  border: 1px solid white;
}
.cart {
  font-size: 2.3em;
  color: #FFFFFF;
}