* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: Arial, sans-serif;
}
.header {
  background-color: #131A22;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  /* justify-content: center; */
}
/* Amazon logo */
.amazon_logo {
  height: 2.5em;
  width: 6em;
}
.logo-box {
  align-items:center;
  padding: .5em .3em .1em .3em;
}
.logo-box:hover {
  border: 1px solid white;

}

/* Second nav bar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #22303E;
  height: 39px;
}
.ham-div {
  color: white;
  display: flex;
  cursor: pointer;
  padding: .3em;
}
.ham-div > span {
  margin-left: .2em;
  position: relative;
  top: .2em;
}
.ham-div:hover {
  border: 1px solid white;

}
.hamburger-menu {
  font-size: 1.4em;
}
/* Delivery styles */
.deliver-box {
  display: flex;
  padding: .5em;

}
.deliver-box:hover {
  border: 1px solid white;
  cursor: pointer;
}
.location-marker {
  color: white;
  font-size: 1.2em;
}
.deliver-text {
  color: #CCCCCC;
  font-size: 13px;
}
.address-text {
  color: #FFFFFF;
  font-size: 15px;
}
.deliver-text-box {
  display: flex;
  flex-direction: column;
}

/* Search styles */
.search-box > input {
  width: 100%;
  flex: 1;
  height: 38px;
  border: none;
  background-color: #FFFFFF;
}
.search-box {
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
  padding: 7px 10px 7px 10px;
  flex: 1; 
}
.search-icon-div {
  display: flex;
  align-items: center;
  background-color: #F3A846;
  height: 38px;
  width: 40px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
} 
.search-icon {
  font-size: 21px;
  cursor: pointer;
} 
.all {
  display: flex;
  align-items: center;
  background-color: #DADADA;
  height: 38px;
  width: 44px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  cursor: pointer;
}
.drop-down-arrow {
  font-size: 30px;
} 
.second-nav-text {
  color: white;
  cursor: pointer;
  padding: .3em;
}
.second-nav-text:hover {
  border: 1px solid white;

}

/* Sign In, Orders, and cart styles */
.login-box {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: .5em;
}
.login-box:hover {
  border: 1px solid white;
}
.order-box {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: .5em;

}
.order-box:hover {
  border: 1px solid white;

}
.return {
  text-decoration: none;
}
.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3px; */
  padding: 0 .3em .3em .3em;
  margin: .2em .3em .3em .3em;

}
.cart-box > span {
  color: rgb(240, 136, 5);
  position: relative;
  top: 8px;
}
.cart-box:hover {
  border: 1px solid white;
}
.cart {
  font-size: 2.3em;
  color: #FFFFFF;
}
/* Home page, background images */
.home-container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.main-image {
  width: 100%;
  min-width: 1000px;
  /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
}
/* Modal styles */
.all-modal {
  position: fixed;
  height: 100%;
  width: 365px;
  background-color: #FFFFFF;
  z-index: 100;
  top: 0;
  left: 0;
  /* transform: translateX(-100%); */

}
.modal-header {
  height: 50px;
  background-color:#22303E;
  display: flex;
  align-items: center;
}
.modal-header > h3 {
  font-size: 1.3em;
  color: #FFFFFF;
  margin-left: .6em;

}
.modal-text {
  display: flex;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.user {
  font-size: 1.7em;
  color: white;
  margin-right: .5em;
}
.modal-text > h3 {
  color: #FFFFFF;
}
.modal-container {
  display: flex;
  flex-direction: column;
}
.row-modal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.list-group {
  text-decoration:underline;
}
.modal-row-head1 {
  display: flex;
  align-items: center;
  height: 42px;
}
.modal-row {
  display: flex;
  align-items: center;
  height: 42px;
  margin: .3em 0 .3em 0;
}
.modal-row:hover {
  cursor: pointer;
  background-color: #EAEDED;
}
.modal-row1 {
  display: flex;
  align-items: center;
  height: 42px;
  border-top: 1px solid #D5DBDB;
}
.row-modal1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
.arrow-right {
  font-size: 1.3em;
  color: #c2c7c7;
}
.arrow-right:hover {
  color: #121212;
}
