* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: Arial, sans-serif;
}
.header {
  background-color: #131A22;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.amazon_logo {
  height: 40px;
  width: 114px;
  margin: 1px;
  padding: 1px 8px 0 6px;
}
.navbar {
  background-color: #22303E;
  height: 39px;
}
.location-marker {
  color: white;
  font-size: 1.2em;
}
.deliver-text {
  color: #CCCCCC;
  font-size: 12px;
}
.address-text {
  color: #FFFFFF;
  font-size: 14px;
}
.deliver-text-box {
  display: flex;
  flex-direction: column;
}
.search-box > input {
  width: 302px;
  height: 38px;
}